force-app/main/default/flows/Create_a_New_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_New_Lead_Values</name>
        <label>Assign New Lead Values</label>
        <locationX>1599</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.How_did_you_hear_about_us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_hear_about_us_picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0</name>
        <label>Assign New Lead Values</label>
        <locationX>138</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Marketing_Channel__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>138</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Campaign__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Mailer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Values_To_Add_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>138</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Lead_Type_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Mailer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Values_To_Add_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>138</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Lead_Source_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Values_To_Add_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mailer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mailer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Marketing_Channel_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Values_To_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignSelector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Marketing_Channel_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Numeric_Phone.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Lead_Values_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>403</locationX>
        <locationY>1719</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Lead_Type_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Campaign__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>CampaignSelector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Lead_Source_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Marketing_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>773</locationX>
        <locationY>1645</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Lead_Values_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Values_0_0_0_0_0_0_0_0_0</name>
        <label>Assign New Lead Values</label>
        <locationX>667</locationX>
        <locationY>1719</locationY>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Lead_Type_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Buyer Tax Opt In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate.Lead_Source_New__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Duplicates</name>
        <label>Are There Duplicates</label>
        <locationX>2119</locationX>
        <locationY>1359</locationY>
        <defaultConnector>
            <targetReference>Other_Source_Decision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Detected</defaultConnectorLabel>
        <rules>
            <name>Duplicates_Detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Duplicate.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_did_your_hear_about_us_choices_0</targetReference>
            </connector>
            <label>Duplicate Detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Duplicates_0_0_0</name>
        <label>Are There Duplicates</label>
        <locationX>1325</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Are_There_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Detected</defaultConnectorLabel>
        <rules>
            <name>Numeric_Phone_Duplicate_Detected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Duplicate_Numeric_Phone.Numeric_Phone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_did_your_hear_about_us_choices</targetReference>
            </connector>
            <label>Numeric Phone Duplicate Detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_did_your_hear_about_us_choices</name>
        <label>How did your hear about us choices</label>
        <locationX>527</locationX>
        <locationY>1263</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any other how did you hear about us</defaultConnectorLabel>
        <rules>
            <name>Contains_Mailer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Lead_Values_0_0_0_0_0</targetReference>
            </connector>
            <label>Contains Mailer</label>
        </rules>
        <rules>
            <name>Other_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1800_Lead_2</targetReference>
            </connector>
            <label>Other other</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_did_your_hear_about_us_choices_0</name>
        <label>How did your hear about us choices</label>
        <locationX>1923</locationX>
        <locationY>1700</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any other how did you hear about us</defaultConnectorLabel>
        <rules>
            <name>Contains_Mailer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Lead_Values_0_0_0_0_0</targetReference>
            </connector>
            <label>Contains Mailer</label>
        </rules>
        <rules>
            <name>Other_other_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1800_Lead_2</targetReference>
            </connector>
            <label>Other other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Source_Decision</name>
        <label>Other Source Decision</label>
        <locationX>1304</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Lead_Source1</targetReference>
            </connector>
            <label>Is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Source_Decision2</name>
        <label>Other Source Decision2</label>
        <locationX>2514</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Other2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_0_0_0_0_0</targetReference>
            </connector>
            <label>Is Other2</label>
        </rules>
        <rules>
            <name>Is_Other_1800</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_did_you_hear_about_us_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_0_0_0_0</targetReference>
            </connector>
            <label>Is Other 1800</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_To_Add</name>
        <label>Values To Add</label>
        <locationX>51</locationX>
        <locationY>1599</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have Mailer</defaultConnectorLabel>
        <rules>
            <name>Lead_Type_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Numeric_Phone.Lead_Type_New__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Values_To_Add_0_0</targetReference>
            </connector>
            <label>Lead Type New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_To_Add_0_0</name>
        <label>Values To Add</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Mailer</defaultConnectorLabel>
        <rules>
            <name>Campaign_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Numeric_Phone.Campaign__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Values_To_Add_0_0_0</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_To_Add_0_0_0</name>
        <label>Values To Add</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have 1800Accountant</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Numeric_Phone.Lead_Source_New__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Values_To_Add_0_0_0_0</targetReference>
            </connector>
            <label>Lead Source New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_To_Add_0_0_0_0</name>
        <label>Values To Add</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Mail</defaultConnectorLabel>
        <rules>
            <name>Marketing_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Numeric_Phone.Marketing_Channel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Marketing Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1800_Lead_2</name>
        <label>1800 Lead 2</label>
        <locationX>947</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Lead_Values_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1800_Lead_Source_Dupe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Lead_Values_0_0_0_0_0_0</targetReference>
            </connector>
            <label>1800 Lead Source Dupe</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1800Acc_Lead</name>
        <label>1800Acc Lead</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1800_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Selection</targetReference>
            </connector>
            <label>1800 Lead</label>
        </rules>
    </decisions>
    <description>Koby continuation: Fix: https://1800accountant.atlassian.net/browse/SAL-1809 Using wrong variable to update</description>
    <dynamicChoiceSets>
        <name>Campaign</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaign__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>How_did_you_hear_about_us_c</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_did_you_hear_about_us__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create a New Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a New Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_0_0_0</name>
        <label>Create Lead</label>
        <locationX>2778</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>ThisLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>NewLeadCreatedScreen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_did_you_hear_about_us__c</field>
            <value>
                <elementReference>How_did_you_hear_about_us_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0_0_0</name>
        <label>Create Lead</label>
        <locationX>2513</locationX>
        <locationY>1711</locationY>
        <assignRecordIdToReference>ThisLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>NewLeadCreatedScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Last_Touch__c</field>
            <value>
                <elementReference>CampaignSelector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignSelector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_New__c</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type_New__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel_Last_Touch__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G3Z000003fwfp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_to_Marketo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0_0_0_0</name>
        <label>Create Lead</label>
        <locationX>2250</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>ThisLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>NewLeadCreatedScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type_New__c</field>
            <value>
                <stringValue>Buyer Tax Opt In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Buyer Tax Opt In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_to_Marketo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Duplicate</name>
        <label>Get Duplicate</label>
        <locationX>1340</locationX>
        <locationY>867</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Numeric_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Lead_Type__c</queriedFields>
        <queriedFields>Marketing_Channel__c</queriedFields>
        <queriedFields>Sync_to_Marketo__c</queriedFields>
        <queriedFields>Lead_Type_New__c</queriedFields>
        <queriedFields>Campaign_Last_Touch__c</queriedFields>
        <queriedFields>Lead_Source_New__c</queriedFields>
        <queriedFields>Marketing_Channel_Last_Touch__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Numeric_Phone</name>
        <label>Get Duplicate Numeric Phone</label>
        <locationX>1103</locationX>
        <locationY>951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Duplicates_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numeric_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Lead_Type__c</queriedFields>
        <queriedFields>Marketing_Channel__c</queriedFields>
        <queriedFields>Sync_to_Marketo__c</queriedFields>
        <queriedFields>Lead_Type_New__c</queriedFields>
        <queriedFields>Campaign_Last_Touch__c</queriedFields>
        <queriedFields>Lead_Source_New__c</queriedFields>
        <queriedFields>Marketing_Channel_Last_Touch__c</queriedFields>
        <queriedFields>Numeric_Phone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>51</locationX>
        <locationY>2947</locationY>
        <connector>
            <targetReference>Duplicate_Lead_0_0</targetReference>
        </connector>
        <inputReference>Get_Duplicate_Numeric_Phone</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>402</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Duplicate_Lead_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Duplicate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0</name>
        <label>Update Lead</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Duplicate_Lead_0_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Duplicate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0</name>
        <label>Update Lead</label>
        <locationX>1353</locationX>
        <locationY>1947</locationY>
        <connector>
            <targetReference>Duplicate_Lead_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_0</targetReference>
        </faultConnector>
        <inputReference>Get_Duplicate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Campaign_Selection</name>
        <label>Campaign Selection</label>
        <locationX>1018</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Duplicate</targetReference>
        </connector>
        <fields>
            <name>CampaignSelector</name>
            <choiceReferences>Campaign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The screen that populates when there is an inbound call with no existing lead.</description>
        <name>Create_New_Lead</name>
        <label>Create Lead</label>
        <locationX>1304</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_Source_Decision</targetReference>
        </connector>
        <fields>
            <name>How_did_you_hear_about_us_picklist</name>
            <choiceReferences>How_did_you_hear_about_us_c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Source</name>
            <dataType>Boolean</dataType>
            <fieldText>Other Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Lead_0_0</name>
        <label>Duplicate Lead</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateFound_0_0</name>
            <fieldText>&lt;p&gt;A possible duplicate has been found based on numeric phone number: &lt;a href=&quot;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Lead_0_0_0</name>
        <label>Duplicate Lead</label>
        <locationX>379</locationX>
        <locationY>2037</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateFound_0_0_0</name>
            <fieldText>&lt;p&gt;A possible duplicate has been found based on numeric phone number: &lt;a href=&quot;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Lead_0_0_0_0</name>
        <label>Duplicate Lead</label>
        <locationX>666</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateFound_0_0_0_0</name>
            <fieldText>&lt;p&gt;A possible duplicate has been found based on email: &lt;a href=&quot;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate.Id}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Lead_0_0_0_0_0</name>
        <label>Duplicate Lead</label>
        <locationX>930</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateFound_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;A possible duplicate has been found based on email &lt;a href=&quot;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://1800accountant.lightning.force.com/lightning/r/Lead/{!Get_Duplicate_Numeric_Phone.Id}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>3042</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExposeFault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_0</name>
        <label>Fault Message</label>
        <locationX>1194</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExposeFault_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewLeadCreatedScreen_0</name>
        <label>New Lead Created Screen</label>
        <locationX>2514</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewLeadCreated_0</name>
            <fieldText>&lt;p&gt;Your new lead has been created! &lt;a href=&quot;https://1800accountant.lightning.force.com/lightning/r/Lead/{!ThisLeadID}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;https://1800accountant.lightning.force.com/lightning/r/Lead/{!ThisLeadID}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Lead_Source1</name>
        <label>Other Lead Source1</label>
        <locationX>1150</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X1800Acc_Lead</targetReference>
        </connector>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1-800Accountant</stringValue>
            </defaultValue>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_New_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ThisLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
