force-app/main/default/flows/Lead_Populate_Distribute_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checks to see if the new Owner of the Lead is a Sales User</description>
        <name>Is_the_new_Lead_Owner_a_Sales_User</name>
        <label>Is the new Lead Owner a Sales User?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Distribute_Date</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>Logic to populate the Distribute Date on Leads that are owned by Sales</description>
    <environments>Default</environments>
    <formulas>
        <name>DistributeDatetoPopulate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Formula to evaluate if the Last Modified By user is a Sales User</description>
        <name>SalesOwner</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!$Record.Owner:User.Profile.Name} = &apos;Sales Manager&apos;,
{!$Record.Owner:User.Profile.Name} = &apos;InsideSalesUser - Zuora&apos;,
{!$Record.Owner:User.Profile.Name} = &apos;Inbound User&apos;), &apos;TRUE&apos;, &apos;FALSE&apos;)</expression>
    </formulas>
    <interviewLabel>Lead - Populate Distribute Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Populate Distribute Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Populates the Distribute Date</description>
        <name>Update_Distribute_Date</name>
        <label>Update Distribute Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Distribute_Date__c</field>
            <value>
                <elementReference>DistributeDatetoPopulate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_new_Lead_Owner_a_Sales_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distribute_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
