force-app/main/default/flows/Post_Advisory_Discovery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends a survey upon the completion of an Advisory appointment</description>
        <name>Advisory_Call_Completed_Survey</name>
        <label>Advisory Call Completed Survey</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Event.Advisory_Call_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends a survey upon the completion of a Bookkeeping appointment</description>
        <name>Bookkeeping_Call_Completed_Survey</name>
        <label>Bookkeeping Call Completed Survey</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Event.Bookkeeping_Call_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends a survey upon the completion of a Discovery appointment</description>
        <name>Discovery_Call_Completed_Survey</name>
        <label>Discovery Call Completed Survey</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Event.Discovery_Call_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends a survey upon the completion of a Payroll appointment</description>
        <name>Payroll_Call_Completed_Survey</name>
        <label>Payroll Call Completed Survey</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Event.Payroll_Call_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Branch for each Type of Appointment</description>
        <name>Type_of_Appointment</name>
        <label>Type of Appointment</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reassigned Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Call_Completed_Survey</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advisory_Call_Completed_Survey</targetReference>
            </connector>
            <label>Advisory</label>
        </rules>
        <rules>
            <name>Bookkeeping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookkeeping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bookkeeping_Call_Completed_Survey</targetReference>
            </connector>
            <label>Bookkeeping</label>
        </rules>
        <rules>
            <name>Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Call_Completed_Survey</targetReference>
            </connector>
            <label>Payroll</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post Advisory/Discovery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Advisory/Discovery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Appointment</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reassigned Discovery Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bookkeeping</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
