force-app/main/default/flows/Select_At_Risk_Subscription_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Existing_At_Risk_SLI</name>
        <label>Add to Existing At-Risk SLI</label>
        <locationX>264</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Subscription_Lines__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Update_Case_from_SLI.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_from_SLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Null_At_Risk_SLI</name>
        <label>Add to Null At-Risk SLI</label>
        <locationX>528</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Subscription_Lines__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Subscription_Lines__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_from_SLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SLIs that were selected in the Screen Flow</description>
        <name>Selected_SLI_Collection</name>
        <label>Selected SLI Collection</label>
        <locationX>352</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>SLICollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set fields to update on the Case object</description>
        <name>Set_Case_Updates</name>
        <label>Set Case Updates</label>
        <locationX>396</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>recordId.Expected_Future_Revenue__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.Expected_Future_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Future_Revenue__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.At_Risk_Future_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Lost_Future_Revenue_Due_to_Cancellation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.Lost_Future_Revenue_Due_to_Cancellation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Net_Paid_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.Net_Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.At_Risk_Net_Paid_Amount_Last_180_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Case_from_SLI.Net_Paid_Amount_Last_180_Days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_At_Risk_Lines_Already_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Values to update on the SLI</description>
        <name>SLI_Updates</name>
        <label>SLI Updates</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SLIs.Cancellation_Case_Processed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_SLI_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if the SLI already has a Cancellation Case created for it.</description>
        <name>Cancellation_Case_Previously_Created</name>
        <label>Cancellation Case Previously Created</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SLI_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nein</defaultConnectorLabel>
        <rules>
            <name>Ja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SLIs.Cancellation_Case_Processed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_SLI_Collection</targetReference>
            </connector>
            <label>Ja</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_At_Risk_Lines_Already_Selected</name>
        <label>Check if At-Risk Lines Already Selected</label>
        <locationX>396</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Add_to_Null_At_Risk_SLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.At_Risk_Subscription_Lines__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Existing_At_Risk_SLI</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Screen Flow to simplify the process for connecting subscription lines to cases</description>
    <dynamicChoiceSets>
        <description>List of all the relevant ChargeOver Subscription Lines</description>
        <name>AvailableSubscriptionLines</name>
        <collectionReference>Get_All_Active_Related_Subscription_Lines</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ChargeOver_Subscription_Line_Item__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula for NOW()</description>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Select At-Risk Subscription Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select At-Risk Subscription Lines</label>
    <loops>
        <name>SLIs</name>
        <label>SLIs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>At_Risk_Subscription_Lines.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancellation_Case_Previously_Created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the SLIs to update the Case</description>
        <name>Update_Case_from_SLI</name>
        <label>Update Case from SLI</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <collectionReference>SLICollector</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Triggering_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get all the active or overdue subscription line records</description>
        <name>Get_All_Active_Related_Subscription_Lines</name>
        <label>Get All Active Related Subscription Lines</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_At_Risk_Subscription_Lines</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Subscription_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLIs</name>
        <label>Update SLIs</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Update_Case_from_SLI</targetReference>
        </connector>
        <inputReference>SLICollector</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case that started the flow</description>
        <name>Update_Triggering_Case</name>
        <label>Update Triggering Case</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_At_Risk_Subscription_Lines</name>
        <label>Select At-Risk Subscription Lines</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SLIs</targetReference>
        </connector>
        <fields>
            <name>At_Risk_Subscription_Lines</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ChargeOver_Subscription_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ChargeOver_Subscription_Line_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Related_Subscription_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Subscription_Start_Date__c,Status__c,Net_Paid_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Name:utility:key</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:255, Subscription_Start_Date__c:260, Status__c:85, Net_Paid_Amount__c:155</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Status__c:true, Net_Paid_Amount__c:false, At_Risk_Balance__c:false, Expected_Future_Revenue__c:false, Lost_Revenue_Due_to_Cancellation__c:false, Service_End_Date__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>SubscriptionLineSelections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Subscription Line</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Active_Related_Subscription_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID for the Account record used to launch the flow</description>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The Account ID from the Case</description>
        <name>Case_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CasetoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Expected Revenue from the SLIs</description>
        <name>ExpectedRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SLICollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeOver_Subscription_Line_Item__c</objectType>
    </variables>
</Flow>
