force-app/main/default/flows/UnsubscribeLeadsv1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send error email to alert admin.</description>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>678</locationX>
        <locationY>279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>unsubscribe error</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Add the revised lead to the collection of records to be modified at the end of the loop.</description>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>526</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>leadCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadLoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Mark email opt out as true for each lead in the loop.</description>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>629</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>leadLoopVar.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Part of the unmanaged packed Unsubscribe Link from Salesforce Labs and loops through all leads with a particular email address to mark them as email opt out. This flow is launched by the flow Unsubscribe Link.</description>
    <formulas>
        <description>Error message to include in error email to admin.</description>
        <name>ErrorEmail</name>
        <dataType>String</dataType>
        <expression>&quot;Attempted to unsubscribe this email address &quot; &amp; {!Email} &amp; &quot; but there was an error in the flow UnsubscribeLeads, which looks for all leads with this email address and marks them email opt out = true.&quot;</expression>
    </formulas>
    <interviewLabel>UnsubscribeLeads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UnsubscribeLeadsv1</label>
    <loops>
        <description>Loop through all of the leads that have this email address in the Email field.</description>
        <name>loop</name>
        <label>loop</label>
        <locationX>432</locationX>
        <locationY>640</locationY>
        <assignNextValueToReference>leadLoopVar</assignNextValueToReference>
        <collectionReference>leadEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Look for Leads who have this email in Email and have not already opted out.</description>
        <name>FastLookupEmail</name>
        <label>FastLookupEmail</label>
        <locationX>100</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Unsubscribe_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>leadEmailCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update all of the modified leads at once.</description>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>269</locationX>
        <locationY>188</locationY>
        <faultConnector>
            <targetReference>Update_Unsubscribe_Record</targetReference>
        </faultConnector>
        <inputReference>leadCollectionUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the Flow faults here, update the Unsubscribe record with Error.</description>
        <name>Update_Unsubscribe_Record</name>
        <label>Update Unsubscribe Record with Error</label>
        <locationX>535</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Send_Error_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnsubscribeRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Unsubscribe__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FastLookupEmail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update with email address of the user who should be notified when the person who wants to subscribe gets an error.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection of records to be updated at the end of the Loop</description>
        <name>leadCollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>the record that is currently being evaluated in the loop</description>
        <name>leadLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>UnsubscribeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe__c</objectType>
    </variables>
</Flow>
