force-app/main/default/flows/Unsubscribe_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Alert the person that they unsubscribed.</description>
        <name>ConfirmationEmail</name>
        <label>ConfirmationEmail</label>
        <locationX>1337</locationX>
        <locationY>805</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PlainTextEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Confirmation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Alert_Email_0</name>
        <label>Send Error Alert Email</label>
        <locationX>1533</locationX>
        <locationY>387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Email Error Alert</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Was the original email with an unsubscribe link sent from a contact or a lead?</description>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>948</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision looks to see if the id in the unsubscribe link matched the email in the link and a record is found. If so the variable FoundID will not be null.</description>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>862</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x18DigitID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>Yes Record Found</label>
        </rules>
    </decisions>
    <description>This Flow comes with the unmanaged package Unsubscribe Link from Salesforce Labs on the AppExchange.</description>
    <formulas>
        <description>the formula looks to see if the custom metadata type &quot;Unsubscribe Link&quot; has an alternative to &quot;our organization.&quot; If it does, then use that, otherwise use &quot;our organization.&quot; This is used on the &quot;are you sure screen&quot; and the confirmation email.</description>
        <name>OurOrganizationFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varOurOrganization.Our_Organization__c}),&quot;our organization&quot;,{!varOurOrganization.Our_Organization__c})</expression>
    </formulas>
    <formulas>
        <name>PlainTextEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;You will no longer receive email from &quot; + {!OurOrganizationFormula} + &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF({!Contact}=true,{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}=true,{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>18 digit id of the record. The email template only sends the 15 digit id.</description>
        <name>x18DigitID</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!recordId})</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsubscribe Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Unsubscribe record which stores details of this transaction.</description>
        <name>Create_Unsubscribe_Record</name>
        <label>Create Unsubscribe Record</label>
        <locationX>982</locationX>
        <locationY>805</locationY>
        <assignRecordIdToReference>UnsubscribeId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Unsubscribe_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unsubscribed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsubscribe_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Unsubscribe__c</object>
    </recordCreates>
    <recordLookups>
        <description>Look for a contact record with ID and email address from the URL of the unsubscribe link.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>692</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_custom_metadata</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the one from the Unsubscribe Link custom metadata type. This object stores the name of the organization and a list of email addresses that should be alerted of errors in the flow.</description>
        <name>Get_custom_metadata</name>
        <label>Get custom metadata</label>
        <locationX>850</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </faultConnector>
        <object>Unsubscribe_Link__mdt</object>
        <outputReference>varOurOrganization</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Our_Organization__c</queriedFields>
        <queriedFields>Error_Email_Recipients__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Look for a lead record with ID and email address from the URL of the unsubscribe link.</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>930</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_custom_metadata</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update &quot;our organization&quot; in the custom metadata type &quot;Unsubscribe Link.&quot;</description>
        <name>Are_you_sure</name>
        <label>Are you sure</label>
        <locationX>864</locationX>
        <locationY>805</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Unsubscribe_Record</targetReference>
        </connector>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 18px;&quot;&gt;To unsubscribe {!Email} from all further emails from {!OurOrganizationFormula}, click NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Something_went_wrong_0</name>
        <label>Something went wrong</label>
        <locationX>1327</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Error_Alert_Email_0</targetReference>
        </connector>
        <fields>
            <name>wentwrong_0</name>
            <fieldText>&lt;p&gt;Something went wrong. Sorry about that. We were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>794</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launch this additional flow to find all contacts who have this email address and mark them as email opt out.</description>
        <name>Unsubscribe_Contacts</name>
        <label>Unsubscribe Contacts</label>
        <locationX>1094</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>UnsubscribeLeads</targetReference>
        </connector>
        <flowName>UnsubscribeContactsv1</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Launch this additional flow to find all leads who have this email address and mark them as email opt out.</description>
        <name>UnsubscribeLeads</name>
        <label>UnsubscribeLeads</label>
        <locationX>1217</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>ConfirmationEmail</targetReference>
        </connector>
        <flowName>UnsubscribeLeadsv1</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Alert: there was an error in running the Flow Unsubscribe. This flow is part of the unmanaged package Unsubscribe Link from the AppExchange.  https://wp.me/p9qPLI-eU.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Here are the variables that were input from the link in the email. &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;recordId (the id passed in the URL)= {!recordId}, &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;email = {!Email}, &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;FoundId (the id of the matching contact or lead record, if it was found) ={!FoundId}, &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lead Id= {!LeadID}, &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;ErrorRecipient ={!ErrorRecipient}. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If the FoundId is blank, the flow wasn&apos;t able to find a record with this email address and this ID. &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of the lead record from the unsubscribe link</description>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>collection of records updated in the process</description>
        <name>RecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Update Default Value below with email address that this email should be &quot;from&quot;</description>
        <name>SenderAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fake@fake.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>Unsubscribe record variable to send to subflows.</description>
        <name>UnsubscribeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unsubscribe__c</objectType>
    </variables>
    <variables>
        <description>custom metadata type record &quot;Unsubscribe Link&quot;</description>
        <name>varOurOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe_Link__mdt</objectType>
    </variables>
</Flow>
