force-app/main/default/flows/VIP_Client_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_total</name>
        <label>Assign total</label>
        <locationX>1162</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_total_inv.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_total_for_VIP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_account_id</name>
        <label>get account id</label>
        <locationX>526</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>accountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_invoice</name>
        <label>Sum invoice</label>
        <locationX>1388</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_total_inv.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_total_inv</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>invoice = 3500</description>
        <name>Limit</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>3500.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_total_for_VIP</name>
        <label>Check total for VIP</label>
        <locationX>918</locationX>
        <locationY>757</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>total</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Limit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VIP</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
        <rules>
            <name>NoT_Vip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>total</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Limit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Vip</targetReference>
            </connector>
            <label>NoT Vip</label>
        </rules>
    </decisions>
    <description>Checking Invoice for last 12 months , if sum &gt; 3500</description>
    <environments>Default</environments>
    <formulas>
        <name>Last12Months</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <interviewLabel>VIP Client Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VIP Client Status</label>
    <loops>
        <name>Loop_for_total_inv</name>
        <label>Loop for total inv</label>
        <locationX>974</locationX>
        <locationY>500</locationY>
        <collectionReference>Invoice_data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Invoice_data</name>
        <label>Invoice data</label>
        <locationX>684</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_total_inv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Last12Months</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeOver_Invoice_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Not_Vip</name>
        <label>Set Not Vip</label>
        <locationX>682</locationX>
        <locationY>888</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VIP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_VIP</name>
        <label>Set VIP</label>
        <locationX>1130</locationX>
        <locationY>826</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VIP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_account_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeOver_Most_Recent_Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-15</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
